{% load event_calendar %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="content-language" content="en"/>
        <title>Music Ecology {% block htmltitle %}{% endblock htmltitle %}</title>
        <meta name="description" content="Music Ecology is a gathering of musicians and artists in Boston exposing fresh electronic music and local art."/>
        <meta name="keywords" content="music,art,electronic,boston" />
	<style type="text/css">
    	<!--
	    @import url("{{ STATIC_URL }}css/main.css");
    	-->
	</style>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-12597401-1");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.wibiya.com/Toolbars/dir_1157/Toolbar_1157210/Loader_1157210.js"></script><noscript><a href="http://www.wibiya.com/">Web Toolbar by Wibiya</a></noscript>
        {% block htmlheader %}{% endblock htmlheader %}
    </head>
    <body>
	<!-- header -->
        <div id="header">
	    <div id="topnav_wrapper">
		<a href="/" class="maintitle"><img src="{{ STATIC_URL }}imgs/logo2.png" alt="Music Ecology" width="750px"/></a>
	    </div>
	</div>
        <!-- /header -->
	<div id="container">
	    <div id="content_left">
		<div class="column">
                    <h1>Calendar</h1>
                    <div id="calendar">
                        {% event_calendar %}
                    </div>
                    <a href="{% url agenda-icalendar %}">iCalendar</a>
		    <h1>About Us</h1>
		    <p><strong>Music Ecology</strong> is a Boston based event production collective formed in the summer of 2009. Our weekly Tuesday night residency at <strong>Wonder Bar</strong>, a monthly residency at <strong>Machine</strong> as well as various events throughout the city have exposed Boston audiences to numerous local, national, and international talent.<br />
                    <a href="{% url contact_form %}">Contact Us</a></p>
		    <h1>Locations</h1>
		    <p><b>Every Tuesday</b><br />
                    <a target="_blank" href="http://www.wonderbarboston.com">Wonder Bar</a><br />
		    186 Harvard Avenue<br />
		    Allston, MA 02134-2806<br />
		    (617) 351-2665<br />
		    <a target="_blank" href="http://maps.google.com/maps?q=186+Harvard+Avenue+Allston,+MA+02134-2806">Google Map</a></p>
                    <p><b>Every 1st Saturday</b><br />
                    <a target="_blank" href="http://www.machine-boston.com">Machine Nightclub</a><br />
                    1254 Boylston Street<br />
                    Boston, MA 02215<br />
                    (617) 536-1950<br />
                    <a target="_blank" href="http://maps.google.com/maps?q=1254+Boylston+Street+Boston,+MA+02215">Google Map</a></p>
                    <h1>Newsletter</h1>
                    <!-- Begin MailChimp Signup Form -->
                    <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup {clear:left; font:14px Helvetica,Arial,sans-serif; }
                        #mc_embed_signup input.email {display:block; padding:8px 0; margin:0 4% 10px 0; text-indent:5px; width:75%; min-width:130px;}
                        #mc_embed_signup form {padding:0px 0px 0px 0px;}
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                        <form action="http://musicecologyboston.us5.list-manage.com/subscribe/post?u=8531de5db2dc47ce83e16fa82&amp;id=bf0be729d6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                            <!--<label for="mce-EMAIL">Subscribe to our mailing list</label>-->
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </form>
                    </div>
                    <!--End mc_embed_signup-->
		    <h1>Resident DJs</h1>
		    <ul class="column_list">
                        <li><a target="_blank" href="http://soundcloud.com/alexrusso">Alex Russo</a></li>
                        <li><a target="_blank" href="http://soundcloud.com/fdot">FDOT</a></li>
                        <li><a target="_blank" href="http://soundcloud.com/professorpious">Professorpious</a></li>
                        <li><a target="_blank" href="http://soundcloud.com/the-madmauritian">Mad Mauritian</a></li>
                    </ul>
                    <h1>News</h1>
                    <ul class="column_list">
                        <li><a target="_blank" href="http://www.lostinsound.org">LostInSound</a></li>
                        <li><a target="_blank" href="http://www.unhearduv.com">UnheardUV</a></li>
                        <li><a target="_blank" href="http://www.beantownboogiedown.com">Beantown Boogiedown</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/pages/Forbidden-Bass-Crew/199790486728891">Forbidden Bass</a></li>
		    </ul>
		</div>
	    </div>
	    <div id="content_right">
		<div class="column">
                    {% block content %}{% endblock %}
		</div>
	    </div>	
	    <br clear="all" />
	</div>
	<div id="footer_wrapper">
	    <div id="footer">
                <ul class="footer_list">
		    <li class="title">Favorite browsing spots:</li>
                    <li><a target="_blank" href="http://www.blueboyproductions.net/">Blue Boy Productions</a></li>
		    <li><a target="_blank" href="http://www.verminstreet.com/">Vermin Street</a></li>
                    <li><a target="_blank" href="http://www.famelessfam.com/">Fameless Fam</a></li>
                    <li><a target="_blank" href="http://www.sonicbeating.org/">Sonic Beating</a></li>
                </ul>
                <ul class="footer_list">
		    <li class="title">&nbsp;</li>
                    <li><a target="_blank" href="http://www.myspace.com/statesmendnb/">Statesmen</a></li>
                    <li><a target="_blank" href="http://subduction.posterous.com/">SUBduction</a></li>
                    <li><a target="_blank" href="http://www.instantnightlife.com/">Instant Nightlife</a></li>
                    <li><a target="_blank" href="http://www.mmmmavent.com/">mmmmaven</a></li>
                </ul>
		<p>&copy; 2010-2012 Created by Music Ecology & James Pells</p>
		<br clear="all" />
	    </div>
	</div>
    </body>
</html>
